.items {
    padding-left: 30px;
}
.items p {
    font-size: 1.8rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.items p span {
    flex: 1;
}
.items p span strong {
    color: #ccc;
    text-decoration: line-through;
}
.items p span em {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.items .checkBtn, .items .deleteBtn {
    font-size: 1.8rem;
    margin-right: 10px;
}
.items .checkBtn {
    color:#38d9a9;
}
.items p .noCk {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.items .deleteBtn {
    color: #ccc;
    transition: transform 0.3s;
}
.items .deleteBtn:hover {
    color: red;
    transform: rotate(-30deg);
}